<ion-view title="Denúncias">


  <ion-content padding="false" class="has-header">
    <div class="item item-body" id="denuncias-list-item-container2">
      <ion-list id="denuncias-list5">
        <ion-item class="item-divider" id="denuncias-list-item-divider1"> Trabalhista</ion-item>
      </ion-list>
      <div id="denuncias-markdown14" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">
          <strong>NOME:</strong> Tribunal Reginal Regional do Trabalho</p>
      </div>
      <div id="denuncias-markdown15" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">
          <strong> ENDEREÇO </strong>
        </p>

        <p style="color:#000000;font-size:12px;">Centro Político Administrativo, Cuiabá - MT </p>

        <p style="color:#000000;font-size:12px;">Próximo ao Shopping Pantanal</p>
      </div>
      <div id="denuncias-markdown16" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">
          <strong>TELEFONE</strong>: (65) 3648-4100</p>
      </div>
      <div class="spacer" style="width: 268px; height: 20px;"></div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61493.13453050756!2d-56.109252920898406!3d-15.574494000000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x939db100db138e6d%3A0x1a9c88f4a012e1b6!2sTribunal+Regional+do+Trabalho+de+Mato+Grosso!5e0!3m2!1spt-BR!2sbr!4v1490201947653"
        width="auto" height="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      <ion-list id="denuncias-list6">
        <ion-item class="item-divider" id="denuncias-list-item-divider2"> Defesa do Consumidor</ion-item>
      </ion-list>
      <div id="denuncias-markdown17" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">
          <strong> NOME</strong> PROCON de Mato Grosso</p>
      </div>
      <div id="denuncias-markdown18" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">
          <strong>ENDEREÇO</strong>
        </p>

        <p style="color:#000000;font-size:12px;">Av. Hist. Rubens de Mendonça, 917 - Araes, Cuiabá - MT, 78008-000</p>

        <p style="color:#000000;font-size:12px;">Próximo a polícia Federal</p>
      </div>
      <div id="denuncias-markdown19" style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:12px;">
          <strong>TELEFONE</strong> (65) 3613-8500</p>
      </div>
      <div class="spacer" style="height: 20px;"></div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3843.0512330524202!2d-56.08711485013467!3d-15.588911322032896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x939db1bb37c63c99%3A0x7288551b27f35792!2sProcon+MT!5e0!3m2!1spt-BR!2sbr!4v1490203510399"
        width="auto" height="auto" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>


  </ion-content>



<!-- FOOTER -->
<ion-footer-bar class="bar-dark" align="center">

<a  href="#/tarefas" class="button">
     Voltar
 </a>
  
</ion-footer-bar>




  
</ion-view>