<ion-view title="Tarefas">


  <ion-content padding="false">
    <div class="item item-body" id="tarefas-list-item-container1" style="margin-top: 100px;">
      <div style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Fique bem informado com iformações diárias de notícias do STF.</p>
      </div>
      <ion-list id="tarefas-list2">

        <ion-item class="item-icon-left calm" id="tarefas-list-item5" ui-sref="noticias">
          <i class="icon ion-earth">
          </i>        
                Notícias
          </ion-item>


      </ion-list>
      <div style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Consulte a Constituição, tire dúvidas sobre determinadas Leis em vigência.</p>
      </div>
      <ion-list id="tarefas-list3">

        <ion-item class="item-icon-left balanced" id="tarefas-list-item6" ui-sref="constituicao">
          <i class="icon ion-ios-paper-outline"></i>
          Constituição ( Leitura )
          </ion-item>



      </ion-list>
      <div  style="text-align:justify;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Visualizei através de um mapa, locais públicos que ofereçam serviços de denúncias em várias áreas.</p>
      </div>
      <ion-list id="tarefas-list4">

        <ion-item class="item-icon-left energized" id="tarefas-list-item7" ui-sref="denuncias">
          <i class="icon ion-ios-location-outline"></i>
          Denúncia
          </ion-item>
      </ion-list>
    </div>



  </ion-content>

<!-- FOOTER -->
<ion-footer-bar class="bar-dark" align="center">

 

 <a  href="#/login" class="button">
     Sair
 </a>

 

<!-- 
  <button  ui-sref="login" id="" class="button" align="center">
Sair
  </button>
 --> 
</ion-footer-bar>



  






</ion-view>